
#title {
    margin: auto
    display: block;
    text-align: center;
    width:800px
}

#gamecontainer {
    margin: auto;
    display: block;
}

#center-container {
    vertical-align: top;
    display: inline-block;
    width: 300px
}

.word-selected {
    background-color: rgb(240,230,140);
}

#selection-row {
    vertical-align: top;
    display: block;
    width: 100%
}

.selection-row-selected {
    background-color: rgb(192,192,192);
}

#select-wordbox {
    vertical-align: top;
    display: inline-block;
    width: 50 px;
    border: 1px solid black;
    padding: 10px;
}

#select-grinder {
    vertical-align: top;
    display: inline-block;
    width: 50 px;
    border: 1px solid black;
    padding: 10px;
}

#wordbox-container {
    display: inline-block;
}

#wordbox {
    vertical-align: top;
    display: block;
    position: relative;
    width: 300px;
    height: 300px;
    background-image: url("img/box.png");
    background-size: 300px 300px;
}

#grinder-container {
    display: none;
}

#grinder-buttons-container {
    display: block;
    padding: 10px;
}

#grinder {
    vertical-align: top;
    display: block;
    position: relative;
    width: 300px;
    height: 300px;
    background-image: url("img/grinder.png");
    background-size: 300px 300px;
}

#inventory-container{
    vertical-align: top;
    display: inline-block;
    width: 250px;
}

#inventory-words{
    overflow-y: scroll;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

#inventory-letters{
    width: 200px;
    border: 1px solid black;
}

.letter-list {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    font-weight: bold;
}

#rightbox{
    display: inline-block;
    width: 250px;
}

.word {
    font-weight: bold;
    cursor: default;
}

.bouncing-word {
    position: absolute;
    font-weight: bold;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.magic {
    color: rgb(0,255,0);
}

.rare {
    color: rgb(0,0,255);
}

.epic {
    color: rgb(255,0,255);
}

.legendary {
    color: rgb(255,127,127);
}
